[submodule "walletconnect-provider"]
	path = walletconnect-provider
	url = https://github.com/maticnetwork/walletconnect-provider.git
[submodule "neo-node"]
	path = neo-node
	url = git@github.com:neo-project/neo-node.git
[submodule "neo-scan-docker"]
	path = neo-scan-docker
	url = https://github.com/slipo/neo-scan-docker
